Package: zerotier-gui
Version: 1.4.0.r93.1407ec6
Architecture: all
Maintainer: tralph3
Depends: python3-tk,policykit-1,python3 (>=3.6)
Priority: optional
Homepage: https://github.com/tralph3/ZeroTier-GUI
Description: A Linux front-end for ZeroTier
